ul.printStop {
  list-style-type: disc;
  position: relative;
}
ul.printStop li::marker {
  font-size: 1.5em;
}
ul.printStop li {
  margin-bottom: 0.5em;
}

ul.printStop li::before {
  content: "";
  position: absolute;
  left: 22px;
  border-left: 1px solid currentColor;
  height: 75px; /* Add similar code for 5 different viewport */
  width: 1px;
}

ul.printStop li:first-child:before {
  top: 20px;
}

ul.printStop li:last-child:before {
  display: none;
}
