footer {
  font-size: 0.9rem;
  background-color: var(--google-gray-900);
  color: var(--white-dark);

  width: 100%;
  padding: 2em 1em;
}
footer .row {
  margin: auto 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  max-width: 70em;
}
footer .row > * {
  flex-grow: 1;
  min-width: 11rem;
}
footer ul {
  list-style: none;
  padding: 0.3rem;
}
div.footer-col h4 {
  font-size: 1.1rem;
  color: var(--tubelight);
  text-transform: capitalize;
  margin-bottom: 2.5rem;
  font-weight: var(--bold-font);
  position: relative;
}
div.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--footer-heading-underline-color);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
div.footer-col ul li {
  margin-bottom: 0.5rem;
}
div.footer-col ul li a {
  font-size: 1em;
  text-transform: capitalize;
  color: var(--google-gray-300);
  display: block;
  transition: trasform 1s ease-in 2s;
}
div.footer-col ul li a:hover {
  transform: translateX(8px);
}

@media (max-width: 35em) {
  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
  }
}
