.hero {
  margin: 0;
  padding: 1rem;

  width: 100%;
  height: 80vh;

  background-color: var(--light-blue);
  color: var(--less-white);
  background: url("./editedBG.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.hero .special {
  display: block;
  font-size: 1.6em;
  background-color: var(--danger);
  background-blend-mode: color;
  text-transform: uppercase;
}

.hero .line {
  font-size: 1.2em;
  margin-bottom: 1rem;
  max-width: 45vw;
  opacity: 80%;
  background-color: var(--dark-blue);
  padding: 0.6rem;
}

.hero .line * {
  font-weight: bold;
}
