header {
  background: var(--white-dark);
  color: black;
  font-size: 1rem;
  box-shadow: 0 0.321rem 0.29rem hsl(0, 0%, 0%, 0.5);

  width: clamp(300px, 100vw, 100%);

  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;

  z-index: 99999999999999;
}

h1.logo {
  font-size: 2rem;
  color: var(--bov-dark);
}
@media (max-width: 35em) {
  header {
    padding: 1rem clamp(3rem, 10vw, 10rem);
  }
}
